<h3><%= @recipe.name() %></h3>

<p>Categories</p>

<% if @recipe.categories().any?() %>
<ul>
  <% @recipe.categories().each() do |category| %>
  <li><a href="/categories/<%= category.id %>"><%= category.name() %></a></li>
  <% end %>
</ul>
<% end %>


<p>Add a category</p>

<form action="/recipes/<%= @recipe.id() %>" method="post">
  <input id="recipe_id" name="recipe_id" type="hidden" value="<%= @recipe.id() %>">
  <select name='category'>
    <% @categories.each() do |category| %>
    <option value="<%= category.id() %>"><%= category.name() %></option>
    <% end %>
  </select>
  <button type="submit" value='submit' class="btn btn-default">Add Recipe</button>
</form>

<hr>

<a href='/' class='btn btn-default'>Back to Home Page</a>
